@model ProjectItiTeam.Models.ViewModel.dataTab_detVM

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <div class="col-md-8 ">
            <div class="p-4 rounded border box-shadow ">
                <form asp-action="" method="post">
                    <div class="row mt-3">
                        <div class="col-md-4">
                               <label>Level Course</label>
                        </div> 
                        <div class="col-md-8">
                            <input readonly class="form-control" value="@Model.courses.Level.Name" />
                        </div>
                    </div>
                     <div class="row mt-3">
                        <div class="col-md-4">
                               <label>
                                   @Html.DisplayNameFor(model => model.courses.Name)
                               </label>
                        </div> 
                        <div class="col-md-8">
                            <input readonly class="form-control" value="@Model.courses.Name" />
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                               <label>
                                   @Html.DisplayNameFor(model => model.courses.Date)
                               </label>
                        </div> 
                        <div class="col-md-8">
                            <input readonly class="form-control" value="@Model.courses.Date" />
                        </div>
                    </div>
                     <div class="row mt-3">
                        <div class="col-md-4">
                               <label>
                                   @Html.DisplayNameFor(model => model.courses.User_Id)
                               </label>
                        </div> 
                        <div class="col-md-8">
                            <input readonly class="form-control" value="@Model.courses.User_Id" />
                        </div>
                    </div>
                </form>
                <div>
                      <div class="container">
                            <img src="~/PhotoUser/empty_star.png" id="img1" onclick="chageback(this)" data-color="0" onmouseover="hover(this)" onmouseleave="leave(this)" alt="" srcset="">
                            <img src="~/PhotoUser/empty_star.png" id="img1" onclick="chageback(this)" data-color="0" onmouseover="hover(this)" onmouseleave="leave(this)" alt="" srcset="">
                            <img src="~/PhotoUser/empty_star.png" id="img1" onclick="chageback(this)" data-color="0" onmouseover="hover(this)" onmouseleave="leave(this)" alt="" srcset="">
                        </div>
                        <script src="~/lib/microsoft-signalr/signalr.min.js"></script>
                       
                        <button type="button" onclick="SendMessage()" id="btn_Like" class="btn btn-primary">
                          <i class="fa fa-thumbs-up"></i> <span id="spanLike" class="badge badge-light text-primary">@ViewBag.dataa.Stars</span>
                        </button>
                        <button type="button"  onclick="dislike()" id="btn_Dis_Like" class="btn btn-danger">
                          <i class="fa fa-heart"></i> <span id="spanDisLike" class="badge badge-light text-primary">@ViewBag.dataa.dislike</span>
                        </button>
                        <button type="button"  onclick="Addfav()" id="btn_Dis_Like" class="btn btn-success">
                          Add favourite <span id="spanDisLike" class="badge badge-light text-primary"><i class="fa fa-star"></i></span>
                        </button>
                </div>
            </div>
        </div>
         <div class="col-md-4">
             <div class="alert alert-primary">
                 Some Courses
             </div>
             @foreach (var item in Model.coursesLi.Take(10))
            {
                <h2 class="bg-dark text-light p-1 rounded box-shadow text-center"><a asp-action="Details" class="btn text-light " asp-route-Id="@item.Id">@item.Name</a></h2>
            }
        </div>
    </div>
</div>

  
<script>

    //Hub 
    var hubConnection=
           new signalR.HubConnectionBuilder().withUrl("/Chat").build();
            //handle request come from server
   hubConnection.on("Display",function(idCourse,data,type){
       if(@Model.courses.Id == idCourse)
       {
           if(type=="1")
           {
                 document.getElementById("spanLike").innerHTML=data;

           }else{
                document.getElementById("spanDisLike").innerHTML=data;
           }
       }
   });

   //add favourit
         hubConnection.on("Display_data",function(user){
             let user="@(User.Identity.Name)";
       if(user == user)
       {
             Swal.fire({
                        position: 'top-center',
                        icon: 'success',
                        title: 'success Add Like',
                        showConfirmButton: false,
                        timer: 1000
                        });
       }
   });
     //Start
    hubConnection.start().then(function(){
        console.log("Connect Success");
    });
    //send data to hub server
    function SendMessage(){
         hubConnection.invoke("SendMEssageFromClient","1","@(User.Identity.Name)","@(Model.courses.Id)");
    }
    function dislike()
    {
         hubConnection.invoke("SendMEssageFromClient","0","@(User.Identity.Name)","@(Model.courses.Id)");
    }
    function Addfav()
    {
         hubConnection.invoke("SendMEssageAddFav","@(User.Identity.Name)","@(Model.courses.Id)");
    }
</script>

