@model IEnumerable<ProjectItiTeam.Models.Course>


@{
    Layout = "_CourseLayout";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Level.Name)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-outline-success rounded-pill" asp-route-id="@item.Id">Edit
                    <i class="fa fa-edit"></i>
                </a> |
                <a asp-action="Details" class="btn btn-outline-primary rounded-pill" asp-route-id="@item.Id">Details
                    <i class="fa fa-info"></i>
                </a> |
                <a asp-action="Delete" class="btn btn-outline-danger rounded-pill" asp-route-id="@item.Id">Delete
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>

  <a asp-action="Create"  class="btn btn-outline-light rounded-pill float-left ">Create </a>