@model IEnumerable<ProjectItiTeam.Models.Level>

@{
    ViewData["Title"] = "Index";
}
<style>
    .data{
       background-color: #571818;
        padding: 6px;
        border-radius: 39px;
        text-align: center;
        color: burlywood;
        font-style: initial;
        font-family: initial;
    }
    .button1{
       background-color: #b93011;
        color: wheat;
        padding: 6px;
        border-radius: 40px;
        margin: 10px;
        transition:all 1s linear;
        cursor: pointer;
    }
    .button1:hover{
         background-color: red;
        color: wheat;
    }
</style>

@if(Model.Count()==0){
<div class="alert alert-info">Sorry , No Exist Account .......</div>


}else{


<h1 class="data">All Data Level Course</h1>


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="mt-3">
                 <a class="button1 " asp-action="Create">Create New</a>
                 <div class="text-center">
                     
                <table class="table table-hover  mt-5 ">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Name)
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                <a asp-action="Edit" class="btn btn-success" asp-route-id="@item.Id">Edit
                                    <i class="fa fa-edit"></i>
                                </a> |
                                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">Details
                                    <i class="fa fa-info"></i>
                                </a> |
                                <a asp-action="Delete" class="btn btn-danger" asp-route-id="@item.Id">Delete
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                }
                    </tbody>
                </table>
                 </div>
            </div>
        </div>
        <div class="col-md-4">
             <div class="mt-3">
                    <img src="~/PhotoUser/images (44).png" class="img-thumbnail h-100"/>
                    <img src="~/PhotoUser/download (4).png" class="img-thumbnail h-100"/>
                </div>
        </div>
    </div>
</div>
}