@model IEnumerable<ProjectItiTeam.Models.Audio>

@{
    Layout="_SharedLayout";
}

<h1 style="color: white;">Playlist</h1>

<div class="row marginTop">
    <div class="container-Audio">
    <div class="row cant d-flex justify-content-center align-items-center">
        <div class="col-md-6">
            <div class="p-3 card">
    @foreach (var audio in Model)
    {
        @Html.Partial("_AudioSummary", audio)
    }
<button class="btn btn-success btn-block playlist text-uppercase"><i class="fa fa-shopping-cart"></i> My Playlist</button>
</div>
            </div>
        </div>
</div></div>
@*
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <td>@Html.DisplayNameFor(m => m.ID)</td>
            <td>@Html.DisplayNameFor(m => m.Name)</td>
            <td>@Html.DisplayNameFor(m => m.Description)</td>
            <td>@Html.DisplayNameFor(m => m.Level_ID)</td>
            <td>@Html.DisplayNameFor(m => m.User_Id)</td>
            <th>Links</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Audio g in Model) 
        {
            <tr>
                <td>@Html.DisplayFor(m => g.ID)</td>
                <td>@Html.DisplayFor(m => g.Name)</td>
                <td>@Html.DisplayFor(m => g.Description)</td>
                <td>@Html.DisplayFor(m => g.Level_ID)</td>
                <td>@Html.DisplayFor(m => g.User_Id)</td>
                <td>

                    <a asp-action="Update" asp-route-id="@g.ID" class="btn btn-secondary">Edit <i class="fa fa-edit"></i></a> |
                    <a asp-action="Delete" asp-route-id="@g.ID" class="btn btn-danger">Delete <i class="fa fa-info"></i></a> | 
                    <a asp-action="Add" asp-controller="Cart" asp-route-id="@g.ID" class="btn btn-primary">Add to cart <i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

<nav aria-label="Catalog Pages">
    <ul class="pagination">
        @for (int i = 1; i <= (int)ViewData["Pages"]; i++) //This displays the total available pages in the video library
        {
            if (i == (int)ViewData["CurrentPage"])
            {
                <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">
                        @i <span class="sr-only">(current)</span> @* This highlights the current page in the video library *@ 
                    </a>
                </li>
            @*}
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-action="Index" asp-route-id="@i">
                        @i  @* Page number in the route *@
                    @*</a>
                </li>
            }
        }
    </ul>
</nav>*@