@page
@model RegisterModel
@{

    ViewData["Title"] = "Register";
 Layout = "~/Views/Shared/_Layout Admain.cshtml";
}

<h1 class="bg-primary m-2 p-1 text-white border rounded mt-3 px-4">Create New <span class="text-warning">Account...</span></h1>
   
<div class="container-fluid border p-4 rounded box-shadow">
    <div class="row">
         <div class="container-fluid row"  >
        <div class="col-md-6">
              <img src="~/PhotoUser/images (6).png" class="img-fluid" />
        </div> 
        <div class="col-md-6 mt-5 text-center">
            <h3 class="text-primary">New User</h3>
        </div>

    </div>
        <div class="col-md-8 ">
               <form class="m-5" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <div class="row m-1">
                    <div class="col-md-4">
                       <label asp-for="Input.Email"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Input.Email" class="form-control" />
                         <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-md-4">
                       <label asp-for="Input.Name"></label>
                    </div>
                    <div class="col-md-8">
                        <input asp-for="Input.Name" class="form-control" />
                         <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                </div> 
                <div class="row m-1">
                    <div class="col-md-4">
                       <label asp-for="Input.picture"></label>
                    </div>
                    <div class="col-md-8">
                        <input type="file" asp-for="Input.picture" class="form-control" />
                         <span asp-validation-for="Input.picture" class="text-danger"></span>
                    </div>
                </div>
                <div class="row m-1">
                    <div class="col-md-4">
                       <label asp-for="Input.City"></label>
                    </div>
                    <div class="col-md-8">
                        <input  asp-for="Input.City" class="form-control" />
                         <span asp-validation-for="Input.City" class="text-danger"></span>
                    </div>
                </div>
                
            </div>
                 <div class="row m-1">
                      <div class="col-md-4">
                            <label asp-for="Input.Password"></label>
                       </div>
                       <div class="col-md-8">
                           <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                       </div>
                  </div>
                
                 <div class="row m-1">
                      <div class="col-md-4">
                            <label asp-for="Input.ConfirmPassword"></label>
                       </div>
                       <div class="col-md-8">
                           <input asp-for="Input.ConfirmPassword" class="form-control" />
                             <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                       </div>
                  </div>
                
            <div class="mt-4">
                <button type="submit" class="btn btn-primary w-100">Register</button>
            </div>
        </form>
        </div>
        <div class="col-md-4">
             <div class="col">
        <section>
            <h4 class="text-warning">Another Service</h4>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532715">this article</a>
                            for details on setting up this ASP.NET application to support logging in via external services.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
        </div>
    </div>
</div>




<div class="row">
    <div class="col-md-4 col">
     
    </div>
   
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
