@model IEnumerable<ProjectItiTeam.Models.Artical>


@{
    Layout = "_LayoutCourseDetails";
}


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserNAme)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.body)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.date)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserNAme)
            </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.date)
            </td>
            <td>
                <a class="btn btn-outline-success rounded-pill" asp-action="Edit" asp-route-id="@item.ID">Edit</a> </td>
                <td>
                <a class="btn btn-outline-primary rounded-pill" asp-action="Details" asp-route-id="@item.ID">Details</a> </td>
                <td>
                <a class="btn btn-outline-danger rounded-pill" asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


    <a class="btn btn-outline-primary rounded-pill w-50" asp-action="Create">Create</a>
