@model ProjectItiTeam.Models.ViewModel.ModelViewIndex


@{
    Layout = "_ArticleLayout";
}
<style>
.courses .course-item {
  border-radius: 5px;
  border: 1px solid #eef0ef;
}
.courses .course-content {
  padding: 15px;
}
.courses .course-content h3 {
  font-weight: 700;
  font-size: 20px;
}
.courses .course-content h3 a {
  color: #37423b;
  transition: 0.3s;
}
.courses .course-content h3 a:hover {
  color: #5fcf80;
}
.courses .course-content p {
  font-size: 14px;
  color: #777777;
}
.courses .course-content h4 {
  font-size: 14px;
  background: #5fcf80;
  padding: 7px 14px;
  color: #fff;
  margin: 0;
}
</style>


<h1 class="shadow-lg p-3 mb-5 bg-body rounded text-center text-success">English Blogs</h1>
 <div class="container">
     <div class="row">
         <div class="col-md-3">
             <div class="shadow-lg p-3 mb-5 bg-body rounded ">
                 @foreach (var item in Model.coursesLi)
                {
                    <div class="conatiner">
                        <img src="@item.Image"/>
                        <hr/>
                        <h3 class="text-center txet-success">@item.Name</h3>
                    </div>
                }
             </div>
         </div> 
         <div class="col-md-6">
             <div class="shadow-lg p-3 mb-5 bg-body rounded">
                 @foreach (var item in Model.ArticalLi)
                {
                    <div class="container m-1">
                        <div class=" shadow-lg p-3 mb-5 bg-body rounded">
                            <div class="card-header">
                              
                                <h3 class="text-center">@item.title</h3> &ensp; <span>@item.date</span>
                            </div>
                               <div class=" card-img-top">
                                    <img src="@item.Image"/>

                                </div>
                            <div>
                                <div class=" card-text">
                                    <p>@item.body</p>
                                </div>
                               
                                 <div class="card-footer">
                           <a class="btn btn-primary likeBtn" id="onelike" style="cursor: pointer;" data-target="@item.ID">
                                Like <i class="fa fa-thumbs-up"></i> <span id="likeBtn" class="likeBtn badge badge-light text-primary rounded-pill w-50"></span>
                            </a> 
                        </div>
                            </div>
                        </div>
   
                    </div>   
                }
             </div>
         </div> 
         <div class="col-md-3">
             <div class="shadow-lg p-3 mb-5 bg-body rounded">
                  @foreach (var item in Model.LevelLi)
                    {
                    <div class="conatiner">
                        <h3 class="text-center txet-success">@item.Name</h3>
                        <hr/>
                    </div>
                    }
             </div>
         </div>
     </div>
 </div>
      
              
















<script>
   
 $(".likeBtn").click( function(){

      let id= $(this).attr("data-target");
    console.log(id);
             $.ajax({
            url:'/Rate_Artical/addlike?id='+id,
            type:'GET',
            dataType:'text',
            success:function(data){
                results= JSON.parse(data);
               
               // document.getElementById("likeBtn").innerHTML=`${results}`;

                Swal.fire({
                        position: 'top-center',
                        icon: 'success',
                        title: 'success Add Like',
                        showConfirmButton: false,
                        timer: 1000
                        })
                
                setTimeout(function(){ 
                
                 }, 1000);
               }
        
           });
 });
</script>

